html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height:1.5;
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto
}
h1, h2, h3 {
    margin: 2.5rem 0;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

.interface {
    text-align: center;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    background-color: antiquewhite;
    padding: 1rem;
}

.tasks, .completed-tasks{
    border: 2px solid #534b4b27;
    margin: 1rem 20rem;
    min-height: 20rem;
    padding: 2rem;
}

li {
	display: flex;
	align-items: center;
    justify-content: center;

}

li span {
    margin-right: 4rem;
}

li button {
    margin-right: 2rem;
}

