@media (min-width: 1024px) { 

    /* Styling the header */
    h1 {
        font-size: 5rem;
        margin: 1.5rem 0;
    }

    h3 {
        font-size: 3.2rem;
    }
    .logo-name img {
        width: 6rem;
        height: 6rem;
    }
    
    .navegation-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
      
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 2rem;
        gap: 1rem;
    }

    .nav-menu a {
        padding: 3rem 2rem;
    }

    .nav-menu a:first-child{
        margin-top: 0;
    }

    .nav-menu a:last-child {
        margin-bottom: 0;
    }

    #menu {
        display: none;
    }

/* Styling the main */

    .hero {
    background-image: url(../images/hero-large.webp);
    height: 85rem;
    justify-content: flex-end;


    }

    .inscribete-button {
        margin-bottom: 15rem;
        margin-right: clamp(12rem, 14.5vw, 31rem);
        
          
    }
/* Styling the sections */

    .general-info-section {
        flex-direction: row;
        gap: 5rem;
    }
    
    .general-info-section.pfj-info {
    
        margin-bottom: 5rem;
        margin-top: 3rem;
    }

    .general-info-section.pfj-info p {
        padding-top: 2rem;
    }

    .general-info-section.hotel-info {
        flex-direction: row-reverse;
        align-items: start;
    }

    section:nth-of-type(1){
        margin-top: 4rem;
        margin-bottom: 6rem;
    }   

    section:nth-of-type(2){
        
        margin-bottom: 5rem;
        padding-bottom: 3rem;
        border-bottom: 2.5px solid var(--grey);
        
    }   

    section {
       font-size: 2rem;
    }

    .bold {
        font-size: 2rem;
    }

    h2 span {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .general-info-section.hotel-info h2 {
        font-size: 3.2rem;
        margin-top: 0;
        margin-bottom: 5rem;
        margin-left: 2rem;

    }

    section img {
        width: 45rem;
    }

/* stylign the form  */

form {
    width: 40%;
    font-size: 2rem;
}

form input,
form select,
form textarea {
    font-size: 2rem;
}

form span {
    color: var(--secondaryColor);
    font-size: 1.6rem;
}



/* Styling the footer */

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 2rem;
        font-size: 2rem;
    }

    footer p {
        grid-column: 1/3;
    }
    

}

@media (min-width: 1350px) { 
    .inscribete-button {
        font-size: 3rem;
        padding: 1rem 6rem;
    }

    .navegation-bar {
        padding: 0 7rem;
    }

    .nav-menu {
        gap: 6rem;
    }

    form {
        width: 30%;
        font-size: 2rem;
    }


}