@media (min-width: 640px) { 
    .nav-menu-container h1 {
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }

    .title {
        justify-content: center;
    }

    .icon {
        width: 5rem;
        height: 5rem;
    }

    main h2 {
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        margin: 5rem 0;
    }

 
}

@media (min-width: 1200px) { 
    #menu {
        display: none;
    }

    .navegation-menu {
        display: flex;
        flex-direction: row;
    }

    .navegation-menu a {
        padding: 2rem;
    }

    .navegation-menu a:first-child {
        margin: 0;
    }

    .navegation-menu a:last-child {
        margin: 0;
    }

    .nav-menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .nav-menu-container h1 {
        font-size: 5rem;
        font-weight: 700;
    }

    .icon {
        width: 6rem;
        height: 6rem;
    }



}